@use "variables";

.work-wrapper {
  .projects-container {
    width: 100%;
    display: block;
    &:nth-child(even) {
      .project-img {
        .projectCardBody {
          transform: translateY(10%) translateX(10%);
        }
      }
    }

    &[data-visible="true"] {
      .project-img {
        .projectCardBody {
          display: flex;
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
    .project-img {
      display: block;
      cursor: pointer;
      background-color: rgb(116, 116, 116);
      aspect-ratio: 1.5;
      .projectCardBody {
        display: flex;
        opacity: 0;
        background-color: variables.$card_overlay;
        transform: translateY(10%) translateX(-10%);
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        transition: 0.4s;
        height: 100%;
        margin-block: 40px;
        color: variables.$card_text;
        text-transform: capitalize;
        background-color: variables.$card_overlay;

        p {
          color: variables.$card_text;
          margin-block: 35px;
          font-size: 0.875rem;
        }

        .button-group {
          display: flex;
          gap: 35px;
          font-size: 0.875rem;

          // justify-content: flex-end;
          button {
            outline: none;
            border: 2px solid variables.$card_text;
            background-color: transparent;
            padding: 15px 30px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (min-width: 680px) {
  .projects-container {
    aspect-ratio: 1.5;
    .project-img {
      height: 100%;
      width: 100%;
      aspect-ratio: auto;
    }
  }
}

@media (min-width: 1280px) {
  .work-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    .projects-container {
      .project-img {
        .projectCardBody {
          padding: 50px;
        }
      }
    }
  }
}
