@use "variables";

.work-wrapper {
  .projects-container {
    width: 100%;
    display: block;
    aspect-ratio: 1.5;

    .project-img {
      display: block;

      .projectCardBody {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.8);
        margin-block: 40px;
        color: rgb(96, 247, 210, 0.7);
        text-transform: capitalize;

        p {
          color: rgb(96, 247, 210, 0.7);
          margin-block: 35px;
        }

        .button-group {
          display: flex;
          gap: 35px;
          // justify-content: flex-end;
          button {
            outline: none;
            border: 2px solid rgb(96, 247, 210, 0.7);
            background-color: transparent;
            padding: 15px 30px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (min-width: 680px) {
  .projects-container {
    .project-img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .work-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    .projects-container {
      .project-img {
        .projectCardBody {
          padding: 50px;
        }
      }
    }
  }
}
