@use "variables";

.work-wrapper {
  .projects-container {
    width: 100%;
    display: block;
    &:nth-child(even) {
      .project-img {
        .projectCardBody {
          transform: translateY(10%) translateX(10%);
        }
      }
    }

    &[data-visible="true"] {
      .project-img {
        .projectCardBody {
          display: flex;
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
    .project-img {
      display: block;
      cursor: pointer;
      background-color: rgb(116, 116, 116);
      aspect-ratio: 1.5;
      .projectCardBody {
        display: flex;
        opacity: 0;
        background-color: variables.$card_overlay;
        transform: translateY(10%) translateX(-10%);
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        transition: 0.4s;
        height: 100%;
        margin-block: 40px;
        color: variables.$card_text;
        text-transform: capitalize;
        background-color: variables.$card_overlay;

        p,
        span {
          color: variables.$card_text;

          font-weight: bold;
        }

        .button-group {
          display: flex;
          gap: 35px;
          font-size: 0.875rem;

          // justify-content: flex-end;
          button {
            outline: none;
            border: 2px solid variables.$card_text;
            background-color: transparent;
            padding: 15px 30px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (min-width: 680px) {
  .projects-container {
    aspect-ratio: 1.5;
    .project-img {
      height: 100%;
      width: 100%;
      aspect-ratio: auto;
    }
  }
}

@media (min-width: 1280px) {
  .work-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    .projects-container {
      .project-img {
        .projectCardBody {
          padding: 50px;
        }
      }
    }
  }
}

.project-details {
  // display: none;
  height: 100%;
  width: 100%;
  max-width: 500px;
  position: fixed;
  background-color: variables.$blue;
  top: 0;
  right: 0;
  padding: 50px;
  z-index: 20;
  transform: translateY(100%);
  transition: 0.4s ease-in;
  &[data-visible="true"] {
    transform: translateY(0);
  }
  .button-group {
    display: inline-flex;
    gap: 20px;
    button {
      color: #60f7d2;
      border: 1px solid #60f7d2;
      background-color: transparent;
      border-radius: 0.25rem;
      padding: 1rem 1.2rem;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: -moz-fit-content;
      width: fit-content;
      margin: 0;
      font-family: "Roboto Mono", monospace;
    }
  }

  img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1px;
    background-color: gray;
  }
  h4 {
    color: white;
    margin-block: 20px;
  }
  p {
    font-size: 0.9rem;
    line-height: auto;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    .bar {
      position: relative;
      background-color: variables.$light-green;
      height: 3px;
      width: 35px;
      margin-bottom: 7px;
    }
    .bar1 {
      transform: rotateZ(45deg) translateY(5px) translateX(7px);
    }
    .bar2 {
      transform: rotateZ(-45deg);
    }
  }
}

.button-flex {
  border: solid 1px variables.$light-green;
  width: max-content;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  p {
    margin: 0;
    font-weight: 400 !important;
    font-size: 15px;
  }
}
